<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static', filename='logIn.css')}}">
</head>

<body>
  <div class="login-container">
    <h1>Login</h1>
    <form id="login-form">
      <label for="email">E-post:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Passord:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Logg inn</button>
    </form>
    <div id="login-message"></div>

    <!-- Sign-up button -->
    <div class="signup-redirect">
      <p>Har du ikke en konto?</p>
      <button id="signup-btn">Registrer deg</button>
    </div>
  </div>

  <script src="{{url_for('static', filename='helvete.js')}}"></script>
  
</body>

</html>